.banner {
    height: 180px;
    border-radius: calc(var(--radius) + 8px);
    overflow: hidden;
    position: relative;
}

.banner_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
    padding: 1rem;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.300);
}

.title {
    font-size: clamp(2rem, 4vw, 3.5rem);
    color: white;
    font-weight: 400;
}

@media screen and (max-width: 600px) {
    .banner {
        height: 100px;
    }
}