.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: clamp(1rem, 3vw, 2rem);
}

.logo {
    width: clamp(100px, 100%, 200px);
}

.navigation {
    display: flex;
    gap: 3rem;
}

.link {
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: var(--color-primary);
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
}