.item {
    max-width: 1000px;
    width: 100%;
    border-radius: var(--radius);
    overflow: hidden;
    max-height: 50px;
}
.item.active {
    max-height: 1000px;
}
.item.active .btn .icon{
    transform: rotate(0);
}

.header {
    height: 50px;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius) var(--radius) 0 0;
    background-color: var(--color-primary);
}
.title {
    font-size: 2rem;
    font-size: clamp(1.6rem, 3vw, 2rem);
    color: white;
    font-weight: 500;
}
.btn {
    height: 100%;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}
.icon {
    width: 4rem;
    transform: rotate(180deg);
}

.content {
    background-color: var(--color-gray);
}
.description {
    padding: 1.7rem;
    font-size: clamp(1.5rem, 3vw, 2rem);
    line-height: 1.4;
    color: var(--color-primary);
}